<h1>JBVC 樂明視障團</h1>

<p><%= link_to 'Facebook', "http://www.facebook.com/jbvcpublic" %> 
 | <%= link_to 'Home', posts_index_path %>
 | <%= link_to 'About', posts_about_path %>
 | <%= link_to 'Goals', posts_goals_path %>
 | <%= link_to 'Looking Foward', posts_looking_forward_path %>
 | <%= link_to 'Meeting schedule', posts_schedule_path %>
 | <%= link_to 'Contact us', posts_contact_path %>
 |
 </p>

<%= image_tag "JBVC_clip_image002_0000.jpg", size: "231x158", alt: "Logo: 3 birds fly freely toward the cross" %>

<h1>Joy Beyond Vision Community (JBVC)</h1>
<h2>Let us be strong and courageous in the Light of God</h2>

<p>The Joy Beyond Vision Community (JBVC) is a Christian ministry that serves the blind and visually impaired people (VIP) by supporting them in their journey to overcome visual impairment and live a fulfilling life with dignity. </p>