<!DOCTYPE html>
<html>
<head>
  <title>Welcome to JBVC, a place for Chinese visually impaired people!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="container">
  <h1><%= link_to 'JBVC 樂明視障團', posts_index_path %></h1>
	<div class="navbar">
      <div class="navbar-inner">
        <div class="container">
        
          <nav>
            <ul class="nav">
              <li><%= link_to 'Facebook', "http://www.facebook.com/jbvcpublic" %> 
</li>
              <li><%= link_to "Home", posts_index_path %></li>
               <li> <%= link_to 'About', posts_about_path %></li>
 <li><%= link_to 'Goals', posts_goals_path %></li>
 <li><%= link_to 'Looking Foward', posts_looking_forward_path %></li>
 <li><%= link_to 'Meeting schedule', posts_schedule_path %></li>
 <li><%= link_to 'Contact us', posts_contact_path %></li>
            </ul>
          </nav>
        </div>
      </div>
      </div>
      </div>
    </header>

<div class="container">
<%= yield %>
</div>

</body>
</html>
